body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

:root {
  --cloud-color: #f4f4fd;
  --navy-color: #2e2f42;
  --white-color: #ffffff;
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --corn-color: #e7e9fc;
}

.h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
}

.top-line {
  border-bottom: 1px solid var(--corn-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--iris-color);
  display: flex;
}

.logo-change {
  color: var(--navy-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 24px;
  display: flex;
}

.page-nav {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  padding-left: 76px;
}

.page-nav .link {
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: var(--navy-color);
}

.page-nav .link:hover,
.page-nav .link:active,
.page-nav .link:focus {
  color: var(--ocean-color);
}

.header-adres {
  font-style: normal;
  display: flex;
}

.contacts {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  padding-left: 0;
}

.contacts .link {
  font-style: normal;
  text-decoration: none;
  color: #434455;
}

.contacts .link:hover,
.contacts .link:active,
.contacts .link:focus {
  color: var(--ocean-color);
}

.bottom {
  background-color: var(--navy-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-change-footer {
  color: var(--cloud-color);
}

.footer-text {
  color: var(--cloud-color);
  display: flex;
  width: 264px;
  flex-direction: column;
  flex-shrink: 0;
}

.main-section {
  background-color: var(--navy-color);
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
  display: flex;
  width: 496px;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 auto;
  margin-bottom: 48px;
}

.main-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white-color);
  background-color: var(--iris-color);
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--ocean-color);
}

.prof-section {
  padding-top: 120px;
  padding-bottom: 101px;
}

.prof-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  margin-bottom: 8px;
}

.section-projects {
  padding-bottom: 120px;
}

.section-projects .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-color);
  text-align: center;
  margin-bottom: 72px;
}

.section-our-team {
  background-color: var(--cloud-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-our-team .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-color);
  text-align: center;
  margin-bottom: 72px;
}

.our-team-list {
  background-color: var(--white-color);
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  text-align: center;
}

.our-team-text {
  text-align: center;
}

.portfolio-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--iris-color);
  text-align: center;
  cursor: pointer;
  background-color: var(--cloud-color);
}

.portfolio-button:hover,
.portfolio-button:active,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
}

.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
}

.portfolio-item .link {
  text-decoration: none;
}

.portfolio-text {
  color: #434455;
}
