body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

:root {
  --cloud-color: #f4f4fd;
  --navy-color: #2e2f42;
  --white-color: #ffffff;
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --corn-color: #e7e9fc;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
}

.top-line {
  border-bottom: 1px solid var(--corn-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--iris-color);
  margin-right: 76px;
}

.logo-change {
  color: var(--navy-color);
}

.list {
  list-style: none;
}

.page-nav {
  display: flex;
  gap: 40px;
}

.page-nav .link {
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: var(--navy-color);
}

.page-nav .link:hover,
.page-nav .link:active,
.page-nav .link:focus {
  color: var(--ocean-color);
}

.header-adres {
  font-style: normal;
  display: flex;
}

.contacts {
  display: flex;
  gap: 40px;
}

.contacts .link {
  font-style: normal;
  text-decoration: none;
  color: #434455;
}

.contacts .link:hover,
.contacts .link:active,
.contacts .link:focus {
  color: var(--ocean-color);
}

.bottom {
  background-color: var(--navy-color);
}

.logo-change-footer {
  color: var(--cloud-color);
}

.footer-text {
  color: var(--cloud-color);
  display: flex;
  width: 264px;
  flex-direction: column;
  flex-shrink: 0;
}

.main-section {
  background-color: var(--navy-color);
}

.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
}

.main-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white-color);
  background-color: var(--iris-color);
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--ocean-color);
}

.prof-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
}

.section-projects .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-color);
  text-align: center;
}

.section-our-team {
  background-color: var(--cloud-color);
}

.section-our-team .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-color);
  text-align: center;
}

.our-team-list {
  background-color: var(--white-color);
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  text-align: center;
}

.our-team-text {
  text-align: center;
}

.portfolio-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--iris-color);
  text-align: center;
  cursor: pointer;
  background-color: var(--cloud-color);
}

.portfolio-button:hover,
.portfolio-button:active,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
}

.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
}

.portfolio-item .link {
  text-decoration: none;
}

.portfolio-text {
  color: #434455;
}
